/* #main{
    border: 2px solid;
    border-radius: px;
    height: 600px; */
    /* width: 400px;
    margin: auto;
}

button{
    height: 
    padding: ;
} */

.btn{
    border-radius: 10px;
    font-size: x-large;
    box-shadow: 10px;
}